
<!DOCTYPE html>
<html lang="en">
	<head>
    	<!--
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>GERIFES.net</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		<!-- animate css -->
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- font-awesome -->
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

		<!-- custom css -->
		<link rel="stylesheet" href="/static/css/info.css">

	</head>
	<body class="background">
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->

{% if tipo == "links" %}
      <section class="demo">
			<div class="container">
				<div class="row" style="min-height: 600px">
                    <div class="col-md-12 wow bounceIn">
                        <h2 class="text-uppercase" style="margin-top: 60px">Acesso ao Sistema</h2>
                    </div>
                    {% for instituicao in instituicoes %}
                        {% if instituicao.pk == 1023 %}
                        <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.2s">
                            <a href="javascript:" onclick="$('#oauth-form').submit()">
                                <img style="width:300px;height:128px" src="/media/{{ instituicao.logo }}">
                            </a>
                            <form id="oauth-form" method='post' action='https://autenticacao.ufrn.br/authz-server/oauth/authorize?client_id=gerifes-id&response_type=code&redirect_uri=http://{% if debug %}gerifes.ufrn.br{% else %}gerifes.ufrn.br{% endif %}/gerifes/oauth/'></form>
                            <center><a href="/gerifes/painel/{{ instituicao.pk }}/">Área Pública</a></center>
                        </div>
                        {% else %}
                        <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.6s">
                            <a href="/admin/">
                                <img style="width:300px;height:128px" src="/media/{{ instituicao.logo }}">
                            </a>
                            <center>&nbsp;</center>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
      </section>
{% endif %}

{% if tipo == "sobre" %}
		<!-- start sobre -->
		<section class="demo">
			<div class="container">
				<div class="row">
                    <div class="col-md-12 wow bounceIn">
                        <h2 class="text-uppercase" style="margin-top: 60px">Sobre o Sistema</h2>
                    </div>
					<div class="col-md-12 wow fadeInLeft" data-wow-delay="0.6s">
                        <p class="paragraph">O Sistema de Gestão de Riscos em Instituições Federais de Ensino Superior (GERIFES.net) vem sendo desenvolvido desde dezembro de 2015, quando um de seus autores concluiu o <strong>mestrado profissional</strong> em Gestão de Processos Institucionais pela Universidade Federal do Rio Grande do Norte (UFRN).</p>
                        <p class="paragraph">O trabalho de conclusão de mestrado intitulado “Proposta de um modelo de gestão de riscos para uma IFES visando à realização de auditoria baseada em riscos” serviu de parâmetro para a elaboração deste sistema, cujo objetivo é disponibilizar às Instituições Federais de Ensino Superior (IFES) uma ferramenta que possibilite a <strong>implantação da gestão de riscos de forma sistemática.</strong></p>
					    <p class="paragraph">O referido trabalho apresentou um modelo de gestão de riscos concebido especificamente para IFES, com base em dois modelos mundialmente reconhecidos, o Gerenciamento de Riscos Corporativos (COSO II) e Gestão de Riscos – Princípios e Conceitos (Orange Book), além de uma norma brasileira (ISO 31.000), editada pela Associação Brasileira de Normas Técnicas (ABNT). A figura a seguir ilustra esse modelo.</p>
                        <p align="center">
                            <img class="materialboxed"  width="50%" src="/static/images/gerifes-transparente.png"><br/>
                            Modelo de gestão de riscos em IFES (GERIFES)
                        </p>
                        <p></p>
                        <p class="paragraph">
                            Conforme se percebe ao analisar a figura, o modele de Gestão de Riscos em IFES é constituído por duas partes: uma estrutura (representada por um pentágono), que visa proporcionar as condições mínimas necessárias para tornar eficaz a gestão de riscos em uma organização, e um processo (retratado por um cubo), que evidencia a sequência lógica das etapas a serem seguidas.
                        </p>
                        <p class="paragraph">
                            Até dezembro de 2015 não havia ainda normativos que dispusessem sobre a implantação da gestão de riscos nos órgãos e entidades da Administração Pública federal. Apenas em 10 de maio de 2016 foi publicada a Instrução Normativa Conjunta CGU/MP nº 01, dispondo sobre controles internos, gestão de riscos e governança no âmbito do Poder Executivo federal. No ano seguinte, em 22 de novembro de 2017, foi publicado o Decreto nº 9.203, dispondo sobre a política de governança da Administração Pública federal.
                        </p>
                        <p class="paragraph">
                            O art. 17 do referido decreto estabeleceu que a Administração Pública federal deveria instituir, manter, monitorar e aprimorar sistema de gestão de riscos e controles internos com vistas à identificação, à avaliação, ao tratamento, ao monitoramento e à análise crítica de riscos que possam impactar a implementação da estratégia e a consecução dos objetivos da organização no cumprimento da sua missão institucional.
                        </p>
                        <p class="paragraph">
                            A IN CGU/MP nº 01/2016 estabeleceu prazos para que os órgão e entidades integrantes do Poder Executivo federal elaborassem suas políticas e constituíssem seus comitês de gestão de riscos. Importante destacar que estes dois aspectos (<strong>Política de Gestão de Riscos e Comitê de Gestão de Riscos</strong>) compõem a estrutura do modelo de Gestão de Riscos em IFES. O <strong>Sistema de Informação</strong> também é outro aspecto considerado como imprescindível para tornar eficaz o processo de gestão de riscos, fato este que motivou sua concepção.
                        </p>
                        <p class="paragraph">
                            Em 18 de maio de 2017 foi editada a Portaria-SEGECEX nº 9/2017, que aprovou o Roteiro de Auditoria de Gestão de Riscos. Esse documento aborda uma metodologia interessante para classificar o risco residual. Ela se baseia no nível de confiança das atividades de controle, ou seja, quanto mais confiáveis forem as atividades de controle adotadas, menores serão os riscos residuais. O GERIFES.net considerou essa metodologia na etapa de <strong>Gestão do Risco</strong>.
                        </p>
                        <p class="paragraph">
                            Além de incorporar os conceitos trazidos pela IN CGU/MP nº 01/2016 e pela Portaria-SEGECEX nº 9/2017, o GERIFES.net está alinhado também ao Plano de Gestão de Riscos da Universidade Federal do Rio Grande do Norte (UFRN), aprovado pela Resolução nº 076/2017-CONSAD.
                        </p>
                        <p class="paragraph">
                            Apesar do modelo de Gestão de Riscos em IFES ser constituído tanto por uma estrutura, quanto por um processo, o GERIFES.net visa atender essencialmente à necessidade de sistematização do processo de gerenciamento de riscos, ou seja, ele é focado no processo. Para compreender melhor a estrutura e o próprio modelo de Gestão de Riscos em IFES, recomenda-se a leitura na íntegra do trabalho de conclusão de mestrado mencionado, disponível no endereço <a href="https://repositorio.ufrn.br/jspui/handle/123456789/20661">https://repositorio.ufrn.br/jspui/handle/123456789/20661</a> ou na “Biblioteca Virtual” deste site.
                        </p>
                    </div>

				</div>
			</div>
		</section>
		<!-- end sobre -->
{% endif %}
{% if tipo == "idealizadores" %}
		<!-- start idealizadores -->
		<section id="team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounceIn">
						<h2 class="text-uppercase" style="margin-bottom: -20px; margin-top: -20px">Autores</h2>
					</div>
					<div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.1s">
						<img src="/static/images/bruno.png" width="150px" class="img-circle">
						<h3 class="text-uppercase">BRUNO JOSÉ PEREIRA SILVA</h3>
						<p>Bacharel em Ciências Contábeis, Especialista em Auditoria e Controle Interno e Mestre em Gestão de Processos Institucionais, ambas pela Universidade Federal do Rio Grande do Norte (UFRN); Auditor e Coordenador da Coordenadoria de Auditoria e Controle da unidade de Auditoria Interna da UFRN.</p>
					    <a href="mailto:bruno_ufrn_natal@yahoo.com.br">bruno_ufrn_natal@yahoo.com.br</a>
                    </div>
                    <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.2s">
						<img src="/static/images/breno.jpg" width="150px" class="img-circle">
						<h3 class="text-uppercase">CARLOS BRENO PEREIRA SILVA</h3>
						<p>Cientista da Computação e Mestre em Sistemas e Computação pela Universidade Federal do Rio Grande do Norte (UFRN); Tecnólogo em Desenvolvimento de Software pelo Instituto Federal do Rio Grande do Norte (IFRN). Analista de Tecnologia da Informação e Coordenador da Coordenação de Sistemas de Apoio ao Ensino na Diretoria de Gestão da Tecnologia da Informação do IFRN.</p>
                        <a href="mailto:brenokcc@yahoo.com.br">brenokcc@yahoo.com.br</a>
					</div>
				</div>
			</div>
            <div class="container">
				<div class="row">
					<div class="col-md-12 wow bounceIn" style="margin-top: 50px;margin-bottom: 50px">
						<h3 class="text-uppercase">Acadêmicos Envolvidos</h3>
					</div>
					<div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<img src="/static/images/professoraa.jpg" width="150px" class="img-circle">
						<h3 class="text-uppercase">PATRÍCIA BORBA VILAR GUIMARÃES</h3>
						<p>Bacharel em Direito e Mestre em Ciências da Sociedade pela Universidade Estadual da Paraíba (UEPB); Tecnóloga em Processamento de Dados pela Universidade Federal da Paraíba (UFPB); Mestre em Direito pela Universidade Federal do Rio Grande do Norte (UFRN); Doutora em Recursos Naturais pela Universidade Federal de Campina Grande (UFCG); Advogada e Professora da UFRN, no Departamento de Direito Processual e Propedêutica (DEPRO).</p>
					    <a href="mailto:brenokcc@yahoo.com.br">patriciaborb@gmail.com</a>
                    </div>
                    <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.4s">
						<img src="/static/images/professor.png" width="150px" class="img-circle">
						<h3 class="text-uppercase">ANDRÉ MORAIS GURGEL</h3>
						<p>Graduado em Engenharia de Produção e Mestre em Engenharia de Produção pela Universidade Federal do Rio Grande do Norte (UFRN); Graduado em Tecnologia em Comércio Exterior pelo Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN); Doutor em Engenharia de Produção pela Universidade Federal de Pernambuco (UFPE) e Professor na UFRN, no Departamento de Ciências Administrativas (DEPAD).</p>
                        <a href="mailto:andmgurgel@gmail.com">andmgurgel@gmail.com</a>
					</div>
				</div>
			</div>
		</section>
		<!-- end idealizadores -->
{% endif %}
{% if tipo == "biblioteca" %}
		<!-- start biblioteca -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase" style="margin-top: 60px">Biblioteca Virtual</h2>
                        <p class="paragraph">São disponibilizados a seguir alguns documentos sobre gestão de riscos, tais como normativos, modelos e trabalhos científicos, além de cursos e outras publicações relacionadas tanto à gestão de riscos quanto a outros assuntos relacionados, como gestão por processos.</p>
                    </div>
				</div>
                {% for categoria, arquivos in acervo %}
                    {% if arquivos %}
                        <h3 style="margin:33px">{{ categoria }}</h3>
                        <div class="row">
                            <table class="table-responsive" style="">
                                <tbody>
                                {% for arquivo in arquivos %}
                                <tr>
                                    <td valign="center" width="90%">
                                        <p style="margin-top:20px">{{ arquivo.nome }}</p>
                                    </td>
                                    <td valign="center">
                                        <a href="/media/{{ arquivo.arquivo }}" class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Download</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
			</div>
		</section>
		<!-- end biblioteca -->
{% endif %}
{% if tipo == "tutorial" %}
<!-- start tutorial -->
    <section class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2 class="text-uppercase" style="margin-top: 60px">Tutorial (em breve)</h2>
                </div>
                {% for video in videos %}
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.{{ forloop.counter }}s">
                    <div class="panel panel-default" style="height: 320px">
                        <div class="panel-heading bg-info">
                            <i class="fa fa-desktop fa-fw"></i> {{ video }}
                        </div>
                        <div class="panel-body">
                            {% if forloop.first %}
                                <iframe width="100%" height="240px" src="https://www.youtube.com/embed/6SV7uWkAAgw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if tipo == "duvidas" %}
    <!-- start duvidas -->
    <section class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceIn">
                    <h2 class="text-uppercase" style="margin-top: 60px">DÚVIDAS (em elaboração)</h2>
                </div>
                <div class="col-md-12 wow fadeInLeft" data-wow-delay="0.6s">
                    <ul>
                        <li>
                            <p>
                                <strong>A quem pertence o Sistema de Gestão de Riscos em Instituições Federais de Ensino Superior (GERIFES.net)?</strong><br>
                                Resposta:<br><br>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>A quem pertence os direitos morais relativos ao GERIFES.net?</strong><br>
                                Resposta:<br><br>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>O GERIFES.net possui registro no Instituto Nacional da Propriedade Industrial (INPI)?</strong><br>
                                Resposta:<br><br>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Sou uma Instituição Federal de Ensino Superior (IFES) e pretendo utilizar o GERIFES.net, é possível?</strong><br>
                                Resposta:<br><br>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Desejo obter mais informações sobre o GERIFES.net, como devo proceder?</strong><br>
                                Resposta:<br><br>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Tenho interesse em formalizar contrato de licenciamento para outorga de uso, como devo proceder?</strong><br>
                                Resposta:
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<br/><br/>

		<!-- start footer -->
		<footer id="feature">
			<div class="container">
				<div class="row">
					<p>Copyright © 2018 GERIFES.net</p>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/wow.min.js"></script>
		<script src="/static/js/jquery.singlePageNav.min.js"></script>
		<script src="/static/js/custom.js"></script>
	</body>
</html>