
<!DOCTYPE html>
<html lang="en">
	<head>
    	<!--
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>GERIFES.net</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		<!-- animate css -->
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- font-awesome -->
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

		<!-- custom css -->
		<link href="/static/css/djangoplus.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/static/css/info.css">

		<script src="/static/js/jquery-3.2.1.min.js"></script>
		<script src="/static/js/jquery.mask.min-1.7.7.js"></script>

		<style>
			#chart-setores .panel-body > div{
				height: {{ h }}px;
			}
		</style>

	</head>
	<body class="background">
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->

		<!-- start sobre -->
		{% if tipo == "graficos" %}
		<section class="demo">
			<div class="container">
				<div class="row">
                    <div class="col-md-12 wow bounceIn">
                        <h2 class="text-uppercase" style="margin-top: 60px">Painel de Riscos <br> {{ instituicao }}</h2>
						<a style="float:right" href="/">Voltar para área externa</a>
                    </div>
					<div class="row">
						<div class="col-md-9">
							<div class="col-md-12 wow fadeInLeft" data-wow-delay="0.6s">
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-bar-chart-o fa-fw"></i> Totais de Eventos
									</div>
									<div class="panel-body">

											{% for l in totais %}
											<div style="display:flex;">
												{% for titulo, subtitulo, total, width in l %}

												<div style="background-color: rgb(91, 169, 75); margin: 5px; color: white; border-radius: 15px;height:190px;width:{{ width }}%">
													<div style="font-size: 600%" align="center">{{ total }}</div>
													<div style="font-size: 150%; padding-left:10px; padding-right:10px" align="center">{{ titulo }}</div>
													<div>{% if subtitulo %}{{ subtitulo }}{% else %}&nbsp;{% endif %}</div>
													<br>
												</div>

												{% endfor %}
											</div>
											{% endfor %}

									</div>
								</div>
							</div>
							<div class="col-md-12 wow bounceIn">
								<div id="chart-setores">
									{{ chart1|safe }}
								</div>
							</div>
							<div class="col-md-6 wow bounceIn">
								{{ chart2|safe }}
							</div>
							<div class="col-md-6 wow bounceIn">
								{{ chart5|safe }}
							</div>
							<div class="col-md-6 wow bounceIn">
								{{ chart6|safe }}
							</div>
							<div class="col-md-6 wow bounceIn">
								{{ chart4|safe }}
							</div>
						</div>
						<div class="col-md-3">
							<form method="get" id="form">
								<div class="panel panel-default">
										<div class="panel-heading">
											 Setores / Unidades
										</div>
										<div class="panel-body">
											{% for unidade in unidades %}
												<input name="unidade" value="{{ unidade.pk }}" type="checkbox" {% if unidade.pk in ids_unidades %}checked{% endif %}> {{ unidade }}<br>
											{% endfor %}
											<center>
												<a href="javascript:$('#form').submit()" class="btn btn-default">
													<i class="fa fa-refresh"></i> Aplicar
												</a>
											</center>
										</div>
								</div>
								<div class="panel panel-default">
										<div class="panel-heading">
											 Macroprocessos
										</div>
										<div class="panel-body">
											{% for macroprocesso in macroprocessos %}
												<input name="macroprocessos" value="{{ macroprocesso.pk }}" type="checkbox" {% if macroprocesso.pk in ids_macroprocessos %}checked{% endif %}> {{ macroprocesso }}<br>
											{% endfor %}
											<center>
												<a href="javascript:$('#form').submit()" class="btn btn-default">
													<i class="fa fa-refresh"></i> Aplicar
												</a>
											</center>
										</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-md-12 wow bounceIn">
						<div class="panel panel-default">
							<div class="panel-heading">
								Eventos Detalhados
							</div>
							<div class="panel-body">
								<a href="/gerifes/painel/{{ pk }}/eventos/">
									<img width="100%" src="/static/images/eventos.png"/>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% else %}
		<section>
			<div style="margin:15px">
				<h1>Eventos</h1>
				<a style="float:right" href="/gerifes/painel/{{ pk }}/">Voltar para o painel</a>
			</div>
			<div class="col-md-12">
				{{ paginator|safe }}
			</div>
		</section>
		{% endif %}
		<!-- end sobre -->


<br/><br/>

		<!-- start footer -->
		<footer id="feature">
			<div class="container">
				<div class="row">
					<p>Copyright © 2018 GERIFES.net</p>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/wow.min.js"></script>
		<script src="/static/js/jquery.singlePageNav.min.js"></script>
		<script src="/static/js/custom.js"></script>
		<script>
			$('.fa-search').click(function (){
				alert('Funcionalidade em desenvolvimento');
				return false;
			});
		</script>
	</body>
</html>