<!DOCTYPE html>
<html lang="en" class=" js csstransforms csstransforms3d csstransitions">
    <head>
        <title>GERIFES.net</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/jquery.toast.min.js"></script>

        <link href="/static/css/jquery.toast.min.css" rel="stylesheet"/>
        <link href="/static/css/public.css" rel="stylesheet">

        <link href="/static/css/font-awesome.min-4.7.0.css" rel="stylesheet">
        <link href="/static/css/gerifes.css" rel="stylesheet">
    </head>

    <body class="sticky-nav transparent-nav">
        <header class="site-header color-alt overlay-black size-full text-center"
                style="background-image: url({% if settings.background %}/media/{{ settings.background }}{% else %}/static/images/project.jpg{% endif %})">
            <ul class="icones">
                <li>
                    <a href="/gerifes/info/sobre/"><i class="fa fa-2x fa-info"></i><br>Sobre o Sistema</a>
                </li>
                <li>
                    <a href="/gerifes/info/idealizadores/"><i class="fa fa-2x fa-lightbulb-o"></i><br>Autores</a>
                </li>
                <li>
                    <a href="/static/images/processo.png"><i class="fa fa-2x fa-share-alt"></i><br>Entenda o Processo</a>
                </li>
                <li>
                    <a href="/static/Manual.pdf"><i class="fa fa-2x fa-cog"></i><br>Manual do Usuário</a>
                </li>
                <li>
                    <a href="/gerifes/info/biblioteca/"><i class="fa fa-2x fa-newspaper-o"></i><br>Biblioteca Virtual</a>
                </li>
                <li>
                    <a href="/gerifes/info/tutorial/"><i class="fa fa-2x fa-desktop"></i><br>Tutorial</a>
                </li>
                <!--
                <li>
                    <a href="/gerifes/info/duvidas/"><i class="fa fa-2x fa-question"></i><br>Dúvidas</a>
                </li>
                -->
            </ul>
            <div class="container">
                <h1 class="brand"><strong>{{ settings.initials }}</strong></h1>
                <h4>{{ settings.name }}</h4>
                <br><br><br>
                <a class="btn btn-lg btn-white btn-outline btn-round" href="/gerifes/info/links/"><span style="padding: 0 30px;">Acesso ao Sistema</span></a>
            </div>
        </header>

        {% if messages %}
            {% for message in messages %}
                {{ message|toast }}
            {% endfor %}
        {% endif %}

    </body>
</html>