{% extends "report.html" %}

{% block header %}
    <table class="header">
        <tr>
            <td align="center" width="90px"><img src="relatorio/ufcn.png" width="90px"/></td>
            <td align="center">
                <div class="title">Universiade Federal do Rio Grande do Norte</div>
                <div class="subtitle">Ministério da Edução</div>
                <b>Emitido em</b> {{ today }}
            </td>
            <td align="center" width="90px"><img src="relatorio/gerifes.png" width="90px"/></td>
        </tr>
    </table>
{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    {% if objects.0.filters %}
        <table>
            {% for chave, valor in objects.0.filters  %}
            <tr>
                <td width="150px"><b>{{ chave }}</b></td>
                <td>{{ valor }}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
    {% endif %}
    {{ objects.0|safe }}

{% endblock %}