<div class="panel panel-default">
    <div class="panel-heading bg-info">
        <i class="fa fa-bar-chart-o fa-fw"></i> Modelo Gestão de Riscos em IFES
    </div>
    <div class="panel-body">
		<img class="materialboxed"  width="100%" src="/static/images/gerifes.png">
		    <p align="center">
		        Clique aqui para baixar o <a href="/static/MapaRiscos.xlsx" style="font-size: 15px; text-decoration: underline">Mapa de Riscos</a>
		    </p>
    </div>
</div>