<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading bg-info">
                <i class="fa fa-bar-chart-o fa-fw"></i> Abrangência da Gestão de Riscos
            </div>
            <div class="panel-body" style="height: 200px">
                <div>
                    {% if percentual_abrangencia %}
                        <div data-toggle="tooltip" title="De um total de {{ total }} processo(s), {{ qtd }} possui(em) seus riscos gerenciados" style="background-color: #CCC; width: 100%; padding: 0; margin-top: 30px">
                            <div style="background-color: #5BA94B; width: {{ percentual_abrangencia }}%; height: 50px; text-align: center; padding: 13px; color: white; font-size: 150%">{{ percentual_abrangencia }}%</div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">Nenhum registro encontrado.</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5" style="padding-left:0">
        <div class="panel panel-default">
            <div class="panel-heading bg-info">
                <i class="fa fa-bar-chart-o fa-fw"></i> Eficácia da Gestão de Riscos
            </div>
            <div class="panel-body" style="height: 200px">
                <div data-toggle="tooltip" title="{{ qtd_residual }} de {{ qtd_inerente }} evento(s) com risco inerente alto ou muito alto foi(ram) reduzido(s) a um patamar aceitável" style="font-size: 650%; text-align: center; color: #EF8641">{{ percentual_eficacia }}%</div>
            </div>
        </div>
    </div>
</div>