<div class="panel panel-default">
    <div class="panel-heading bg-info">
        <i class="fa fa-bar-chart-o fa-fw"></i> Distribuição dos Riscos na Matriz de Riscos
    </div>
    <div class="panel-body">

        <div align="center" style="height: 287px">
            <table style="margin-left: -50px">
                {% for row in matriz %}
                <tr>
                    {% if loop.index == 1 %}
                    <td rowspan="{{ matriz|length }}" style="height:10px;transform: rotate(-90deg);text-align:center; margin-left: -60px">Probabilidade</td>
                    {% endif %}
                    {% for col in row %}
                        {% if loop.index == 1 %}
                            <td style="transform: rotate(-90deg);text-align:center; font-size: 70%; height: 40px; width: 40px">{{ col }}</td>
                        {% else %}
                            <td style="border: solid 1px #DDD;text-align:center; width: 100px; background-color: {{ col.0 }}; color: #EEE">
                                <div data-toggle="tooltip" title="{{ col.1.1 }}">{{ col.1.0 }}</div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align:center; font-size: 70%; height: 40px; width: 40px">Insignificante</td>
                    <td style="text-align:center; font-size: 70%; height: 40px; width: 40px">Pequeno</td>
                    <td style="text-align:center; font-size: 70%; height: 40px; width: 40px">Médio</td>
                    <td style="text-align:center; font-size: 70%; height: 40px; width: 40px">Grande</td>
                    <td style="text-align:center; font-size: 70%; height: 40px; width: 40px">Crítico</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td align="center" colspan="5">Impacto</td>
                </tr>
            </table>
        </div>
    </div>
</div>