#login-body{
    background-color: #f7f9ed!important;
}
.icones{
    padding-left: 0;
    margin-top: -30px;
    margin-bottom: 120px;
}
.icones a{
    color: white;
}
.icones li{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 300;
}
.card-panel-item div.text-right{
    max-width: 200px;
}