/*

Boxer Template

http://www.templatemo.com/tm-446-boxer

*/
@font-face {
    font-family: DTL-Prokyon;
    src: url(../fonts/DTL-Prokyon-T_14675.ttf);
}

body
    {
        background: #f7f9ed;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

.tm-white a {
	color: #fff;
}

section{
    min-height: 100%;
    min-height: 100vh;
}

/* start h1 group */
h1 {
    margin-top: 0;
    margin-bottom: 25px;
}
h1,
h2,
h3,
h4
    {
        font-weight: bold;
    }
a {
    color: #434b5d;
}
a:hover {
    color: #434b5d;
}

/* end h1 group */
p { line-height: 1.6em; }
/* img */
img
    {
        max-width: 100%;
        height: auto;
    }
/* img */

/* overlay */
.overlay
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.4);
       padding-top: 90px;
       padding-bottom: 90px;
    }
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner
    {
         width: 30px;
        height: 30px;
        background-color: #434b5d;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        font-family: DTL-Prokyon;
        color: #434b5d;
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: #666;
        font-size: 13px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #434b5d;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #434b5d;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */
#home
    {
    background: url('../images/home-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 70px;
    text-align: center;
    width: 100%;
    }
#home p
    {
        font-weight: 400;
        line-height: 1.5em;
    }
#home img
    {
        display: inline-block;
        margin-top: 30px;
    }
/* end home */

/* start divider */
#divider
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#divider .fa
    {
        color: #434b5d;
        font-size: 60px;
    }
#divider h3
    {
        font-size: 20px;
    }
/* end divider */

/* start feature */
#feature, #feature2
    {
        background: rgba(75,106,79,0.1);
        padding-top: 40px;
        padding-bottom: 40px;
    }
#feature p
    {
        padding-top: 10px;
    }
#feature span
    {
        float: left;
    }
/* end feature */

/* start feature1 */
#feature1
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
#feature1 p
    {
        padding-top: 10px;
    }
#feature1 span
    {
        float: left;
    }
/* end feature1 */

/* start team */
#team
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#team h2
    {
        padding-bottom: 60px;
    }
#team .team
    {
        background: #fff;
    }
#team .active
    {
        position: relative;
        bottom: 20px;
    }
#team .team .team-title
    {
        background: #434b5d;
        color: #fff;
        font-weight: bold;
        padding: 30px;
    }
#team .team .team-title p
    {
        font-size: 20px;
    }
#team .team ul
    {
        padding: 0;
        margin: 0;
    }
#team .team ul li
    {
        display: block;
        list-style: none;
        padding: 16px;
    }
#team .team .btn
    {
        background: transparent;
        border: 1px solid #434b5d;
        border-radius: 0px;
        color: #434b5d;
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }
#team .team .btn:hover {
    background: #434b5d;
    color: #fff;
}
#team .team
{
    padding-bottom: 40px;
}
#team a .fa
    {
        font-size: 140%;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 10px;
    }
/* end team */

/* start download */
#download
    {
		background: rgba(75,106,79,0.1);
        padding-top: 80px;
        padding-bottom: 80px;
    }
#download h2
    {
        padding-bottom: 20px;
    }
#download .btn
    {
        border-radius: 0px;
        font-weight: bold;
        margin-top: 20px;
        padding: 10px 40px 10px 40px;
    }
/* end download */

/* start footer */
footer
    {
        background: #fff;
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
/* end footer */

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #434b5d;
    border-color: #434b5d;
}
.btn {
    border-radius: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}
.btn .fa {
    margin-right: 5px;
}


.demo .badge{
    float:left;
    background-color: #434b5d;
}

.demo h2{
    clear: both;
}

.demo img{
    padding-top: 20px;
}

.features{
    padding-top: 25px;
}

.features > div{
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and ( min-width: 992px ) {
    .team {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #team .active {
        bottom: 0;
    }
    .team {
        margin-bottom: 20px;
    }
    #feature img, #download img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #team, #download {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .features > div{
        padding-top: 0;
        padding-bottom: 0;
    }
}
/* start media 360 */
@media screen and ( max-width: 360px ){

}
/* end media 360 */
.paragraph {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
}
h2{
    margin-bottom: 50px;
    text-align: center;
}